<a href="https://colab.research.google.com/github/awnginga/Engage-Project/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
df=pd.read_csv('/content/nhanes_reduced .csv')
df.head(10)

,ID,SurveyYr,Gender,Age,AgeDecade,AgeMonths,Education,MaritalStatus,HHIncome,HHIncomeMid,...,PhysActiveDays,TVHrsDay,SleepHrsNight,SleepTrouble,CompHrsDay,TVHrsDayChild,CompHrsDayChild,SmokeNow,Smoke100,Smoke100n
0,51624,2009_10,male,34,30-39,409.0,High School,Married,25000-34999,30000.0,...,NaN,NaN,4.0,Yes,NaN,NaN,NaN,No,Yes,Smoker
1,51625,2009_10,male,4,0-9,49.0,NaN,NaN,20000-24999,22500.0,...,NaN,NaN,NaN,NaN,NaN,4.0,1.0,NaN,NaN,NaN
2,51630,2009_10,female,49,40-49,596.0,Some College,LivePartner,35000-44999,40000.0,...,NaN,NaN,8.0,Yes,NaN,NaN,NaN,Yes,Yes,Smoker
3,51638,2009_10,male,9,0-9,115.0,NaN,NaN,75000-99999,87500.0,...,NaN,NaN,NaN,NaN,NaN,5.0,0.0,NaN,NaN,NaN
4,51646,2009_10,male,8,0-9,101.0,NaN,NaN,55000-64999,60000.0,...,NaN,NaN,NaN,NaN,NaN,1.0,6.0,NaN,NaN,NaN
5,51647,2009_10,female,45,40-49,541.0,College Grad,Married,75000-99999,87500.0,...,5.0,NaN,8.0,No,NaN,NaN,NaN,NaN,No,Non-Smoker
6,51654,2009_10,male,66,60-69,795.0,Some College,Married,25000-34999,30000.0,...,7.0,NaN,7.0,No,NaN,NaN,NaN,No,Yes,Smoker
7,51656,2009_10,male,58,50-59,707.0,College Grad,Divorced,more 99999,100000.0,...,5.0,NaN,5.0,No,NaN,NaN,NaN,NaN,No,Non-Smoker
8,51657,2009_10,male,54,50-59,654.0,9 - 11th Grade,Married,65000-74999,70000.0,...,1.0,NaN,4.0,Yes,NaN,NaN,NaN,NaN,No,Non-Smoker
9,51659,2009_10,female,10,Oct-19,123.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,3.0,NaN,NaN,NaN

In [14]:
df.tail(10)

,ID,SurveyYr,Gender,Age,AgeDecade,AgeMonths,Education,MaritalStatus,HHIncome,HHIncomeMid,...,PhysActiveDays,TVHrsDay,SleepHrsNight,SleepTrouble,CompHrsDay,TVHrsDayChild,CompHrsDayChild,SmokeNow,Smoke100,Smoke100n
6769,71879,2011_12,male,24,20-29,NaN,Some College,NeverMarried,5000-9999,7500.0,...,NaN,More_4_hr,8.0,No,4_hr,NaN,NaN,NaN,No,Non-Smoker
6770,71880,2011_12,male,46,40-49,NaN,Some College,Married,NaN,NaN,...,NaN,0_hrs,6.0,No,0_to_1_hr,NaN,NaN,NaN,No,Non-Smoker
6771,71882,2011_12,female,60,60-69,NaN,9 - 11th Grade,Married,10000-14999,12500.0,...,NaN,1_hr,8.0,No,0_to_1_hr,NaN,NaN,NaN,No,Non-Smoker
6772,71898,2011_12,female,65,60-69,NaN,Some College,Married,55000-64999,60000.0,...,NaN,2_hr,24.0,No,0_to_1_hr,NaN,NaN,NaN,No,Non-Smoker
6773,71907,2011_12,male,80,NaN,NaN,High School,Married,55000-64999,60000.0,...,NaN,3_hr,5.0,No,0_hrs,NaN,NaN,NaN,No,Non-Smoker
6774,71908,2011_12,female,66,60-69,NaN,College Grad,Widowed,65000-74999,70000.0,...,5.0,2_hr,6.0,No,0_to_1_hr,NaN,NaN,NaN,No,Non-Smoker
6775,71909,2011_12,male,28,20-29,NaN,9 - 11th Grade,NeverMarried,5000-9999,7500.0,...,NaN,1_hr,6.0,No,2_hr,NaN,NaN,Yes,Yes,Smoker
6776,71910,2011_12,female,0,0-9,5.0,NaN,NaN,75000-99999,87500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6777,71911,2011_12,male,27,20-29,NaN,College Grad,Married,75000-99999,87500.0,...,3.0,1_hr,6.0,No,0_to_1_hr,NaN,NaN,NaN,No,Non-Smoker
6778,71915,2011_12,male,60,60-69,NaN,College Grad,NeverMarried,65000-74999,70000.0,...,1.0,2_hr,6.0,No,1_hr,NaN,NaN,NaN,No,Non-Smoker